{% extends "base.html" %}

{% block content %}
<section id="main">
    <h1 class="showcase-heading">Showcase</h1>

    <ul id="autoWidth" class="cs-hidden">

        <!--box-1--------------------------->
        {% for item in movie_sorted[0]%}
        <li class="item-a">
            <!--showcase-box------------------->
            <div class="showcase-box">
                <img src="{{ url_for('getimage',filename=item['image_name'])}}" />
            </div>
        </li>
        {%endfor%}
    </ul>

</section>

<!-- latest TV Shows -->
<section id="latest1">
    <h2 class="latest1-heading">Popular TV Shows</h2>
    <ul id='autoWidth2' class="cs-hidden">
        {% for item in movie_sorted[2] %}
        <a href="{{ url_for('tvdetail', tv_id = item.id) }}">
            <li class="item-a">
                <div class="latest1-box">
                    <div class="latest1-b-img">
                        <img src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}">
                    </div>
                    <div class="latest1-b-text">
                        <strong>{{item.name}}</strong>
                    </div>
                </div>
            </li>
        </a>
        {% endfor %}
    </ul>

    <!-- latest TV Shows -->
    <section id="latest1">
        <h2 class="latest1-heading">Popular Movies</h2>
        <ul id='autoWidth3' class="cs-hidden">
            {% for item in movie_sorted[1] %}
            <a href="{{ url_for('movies',imdb=item['imdb'].id) }}">
                <li class="item-a">
                    <div class="latest1-box">
                        <div class="latest1-b-img">
                            <img src="{{item['poster']}}" alt="himanshu">
                        </div>
                        <div class="latest1-b-text">
                            <strong>{{item.title}}</strong>
                        </div>
                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </section>

    <!--  Slider Script -->
    <script>
        $(document).ready(function () {
            $('#autoWidth').lightSlider({
                autoWidth: true,
                auto: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth').removeClass('cS-hidden');
                }
            });
        });
        $(document).ready(function () {
            $('#autoWidth2,#autoWidth3').lightSlider({
                autoWidth: true,
                loop: true,
                onSliderLoad: function () {
                    $('#autoWidth2,#autowidth3').removeClass('cS-hidden');
                }
            });
        });
    </script>

    {% endblock %}