<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form method="POST" action="{{ url_for('create')}}" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="file" name="img">
        <input type="submit">
    </form>
</body>

</html>