{% extends "base.html" %}

{% block content %}
<div class="tv-heading">
    <h2>TV Shows</h2>
</div>
<section id="tv-list">
    {% for item in data %}
    <a href="{{ url_for('tvdetail', tv_id = item.id) }}">
        <li class="item-a">
            <div class="tv-box">
                <div class="tv-img">
                    <img src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="Not Found"
                        onerror=this.src="{{ url_for('static', filename='img/image.jpg') }}">

                </div>
                <div class="latest1-b-text">
                    <strong> {{item.name}}</strong>
                </div>
            </div>
        </li>
    </a>
    {% endfor %}
</section>


<div class="btns">
    <a href="{{ url_for('prevpage') }}">PREV</a>
    <a href="{{ url_for('nextpage') }}">NEXT</a>
</div>
{% endblock %}